<?xml version="1.0"?>
<!--
/**
* Scandiweb_FacebookLogin
*
* @category    Scandiweb
* @package     Scandiweb_FacebookLogin
* @author      Viktors Vipolzovs <info@scandiweb.com>
* @copyright   Copyright (c) 2016 Scandiweb, Ltd (http://scandiweb.com)
*/
-->
<config>
    <preference for="Scandiweb\FacebookLogin\Api\CustomerRepositoryInterface"
                type="Scandiweb\FacebookLogin\Model\ResourceModel\CustomerRepository"/>
</config>